<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <span class="navbar-text nav-admin title">
    <%= link_to "TestGuru", root_path, class: 'navbar-brand' %>
    <%= t('header-nav.panel') %>
    <%= link_to t('admin.admin-nav.gists'), admin_gists_path , class: 'nav-link'%>
  </span>

  <span class="navbar-text nav-admin title">
    <%= t('header-nav.greeting') %>, <b><%= current_user.email %></b> Guru |
    <%= link_to t('header-nav.logout'), destroy_user_session_path, method: :delete %>
  </span>

</nav>