<h3><%= @question.body %></h3>
<p><%= t('.category') %>: <%= @question.test.title %></p>
<p><%= t('.test') %>: <%= @question.test.title %></p>
<p><%= t('.level') %>: <%= @question.test.level %></p>

<h2><%= t('.answers') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('navigation.back'), admin_test_path(@question.test) %> |
<%= link_to t('navigation.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('navigation.delete'), admin_question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to t('navigation.tests'), admin_tests_path %> 
<%= link_to t('.add_answer'), new_admin_question_answer_path(@question) %>