<p>
  <strong><%= t('.title')%>:</strong>
  <%= @test.title %>
</p>
<p>
  <strong><%= t('helpers.time')%></strong>
  <%= @test.timer.to_s + t('helpers.minutes') %>
</p>
<p>
  <strong><%= t('.level')%>:</strong>
  <%= @test.level %>
</p>

<p><%= t('.questions')%>:</p>

<ul>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ul>

<%= link_to t('navigation.back'), admin_tests_path %> |
<%= link_to t('navigation.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('navigation.delete'), admin_test_path(@test), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to t('add.question'), new_admin_test_question_path(@test) %>